/*--------------------------------------------------------------
# colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# bones-styles
--------------------------------------------------------------*/
/* i imported this one in the functions file so bones would look sweet. don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p { -ms-word-wrap: break-word; word-break: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; -webkit-hyphenate-before: 2; -webkit-hyphenate-after: 3; hyphenate-lines: 3; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body { font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.5; color: #5c6b80; background: #EAEDF2; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*********************
LINK STYLES
*********************/
a, a:visited { color: #f01d4f; /* on hover */ /* on click */ /* mobile tap color */ }
a:hover, a:focus, a:visited:hover, a:visited:focus { color: #d10e3c; }
a:link, a:visited:link { /*
this highlights links on iPhones/iPads.
so it basically works like the :hover selector
for mobile devices.
*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { text-rendering: optimizelegibility; font-weight: 500; /*
if you're going to use webfonts, be sure to check your weights
http://css-tricks.com/watch-your-font-weight/
*/ /* removing text decoration from all headline links */ }
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a { text-decoration: none; }

h1, .h1 { font-size: 2.5em; line-height: 1.333em; }

h2, .h2 { font-size: 1.75em; line-height: 1.4em; margin-bottom: 0.375em; }

h3, .h3 { font-size: 1.125em; }

h4, .h4 { font-size: 1.1em; font-weight: 700; }

h5, .h5 { font-size: 0.846em; line-height: 2.09em; text-transform: uppercase; letter-spacing: 2px; }

/*********************
HEADER STYLES
*********************/
.header { background: #323944; }

#logo { margin: 0.75em 0; }
#logo a { color: #fff; }

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav { border-bottom: 0; margin: 0; /* end .menu li */ /* highlight current page */ /* end current highlighters */ }
.nav li { /*
so you really have to rethink your dropdowns for mobile.
you don't want to have it expand too much because the
screen is so small. How you manage your menu should
depend on the project. Here's some great info on it:
http://www.alistapart.com/articles/organizing-mobile/
*/ }
.nav li a { display: block; color: #fff; text-decoration: none; padding: 0.75em; /*
remember this is for mobile ONLY, so there's no need
to even declare hover styles here, you can do it in
the style.scss file where it's relevant. We want to
keep this file as small as possible!
*/ }
.nav li ul.sub-menu li a, .nav li ul.children li a { padding-left: 30px; }

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
#content { margin-top: 1.5em; }

.hentry { background-color: #fff; border-radius: 3px; margin-bottom: 1.5em; border: 1px solid #ccc; }
.hentry header { border-bottom: 1px solid #f8f9fa; padding: 1.5em; }
.hentry footer { padding: 1.5em; border-top: 1px solid #f8f9fa; }
.hentry footer p { margin: 0; }

/* end .hentry */
.single-title, .page-title, .entry-title { margin: 0; }

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline { color: #9fa6b4; font-style: italic; margin: 0; }

/* entry content */
.entry-content { padding: 1.5em 1.5em 0; /*
image alignment on a screen this size may be
a bit difficult. It's set to start aligning
and floating images at the next breakpoint,
but it's up to you. Feel free to change it up.
*/ }
.entry-content p { margin: 0 0 1.5em; }
.entry-content table { width: 100%; border: 1px solid #eaedf2; margin-bottom: 1.5em; }
.entry-content table caption { margin: 0 0 7px; font-size: 0.75em; color: #9fa6b4; text-transform: uppercase; letter-spacing: 1px; }
.entry-content tr { border-bottom: 1px solid #eaedf2; }
.entry-content tr:nth-child(even) { background-color: #f8f9fa; }
.entry-content td { padding: 7px; border-right: 1px solid #eaedf2; }
.entry-content td:last-child { border-right: 0; }
.entry-content th { background-color: #f8f9fa; border-bottom: 1px solid #eaedf2; border-right: 1px solid #eaedf2; }
.entry-content th:last-child { border-right: 0; }
.entry-content blockquote { margin: 0 0 1.5em 0.75em; padding: 0 0 0 0.75em; border-left: 3px solid #2980b9; font-style: italic; color: #9fa6b4; }
.entry-content dd { margin-left: 0; font-size: 0.9em; color: #787878; margin-bottom: 1.5em; }
.entry-content img { margin: 0 0 1.5em 0; max-width: 100%; height: auto; }
.entry-content .size-auto, .entry-content .size-full, .entry-content .size-large, .entry-content .size-medium, .entry-content .size-thumbnail { max-width: 100%; height: auto; }
.entry-content pre { background: #323944; color: #f8f9fa; font-size: 0.9em; padding: 1.5em; margin: 0 0 1.5em; border-radius: 3px; }

/* end .entry-content */
.wp-caption { max-width: 100%; background: #eee; padding: 5px; /* images inside wp-caption */ }
.wp-caption img { max-width: 100%; margin-bottom: 0; width: 100%; }
.wp-caption p.wp-caption-text { font-size: 0.85em; margin: 4px 0 7px; text-align: center; }

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
.tags { margin: 0; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul li { /* deep nesting */ }

.no-widgets { background-color: #fff; padding: 1.5em; text-align: center; border: 1px solid #ccc; border-radius: 2px; margin-bottom: 1.5em; }

/*********************
FOOTER STYLES
*********************/
.footer { clear: both; background-color: #323944; color: #f8f9fa; }

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
/*--------------------------------------------------------------
# navigation
--------------------------------------------------------------*/
.menu-menu-1-container ul#primary-menu { display: flex; flex-direction: row; justify-content: space-between; background: #323944; max-width: 1100px; margin: auto; border-top: 1px solid #f01d4f; }
.menu-menu-1-container ul#primary-menu li a { color: white; padding: 1em; }
.menu-menu-1-container ul#primary-menu li:hover a { color: #f01d4f; }
.menu-menu-1-container ul#primary-menu li.current-menu-item a { color: #f01d4f; }

/*--------------------------------------------------------------
# site elements
--------------------------------------------------------------*/
#temp-widget-cont { position: fixed; right: 0px; top: 150px; z-index: 100; background: white; border: 1px solid #f01d4f; opacity: 0.8; padding: 10px; max-width: 230px; border-radius: 5px 0  0 5px; box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.19); border-right: none; }

body { background: #EAEDF2; }

.bg-white { background: white; }

.bg-light-blue { background: #b1ffff; }

.fullwidth { width: 100%; max-width: 1600px; }

.main-container { width: 100%; max-width: 1100px; display: table; margin: 0 auto; padding: 0 20px; }

.flex--row-sbw { display: flex; flex-direction: row; justify-content: space-between; }

.flex--column { display: flex; flex-direction: column; }

.flex--align-center { align-items: center; }

header#masthead { background: #323944; }

#header-top { background: #323944; padding-top: 20px; }
#header-top .header-info-cont #header-contact { min-height: 45px; flex-grow: 1; flex-shrink: 0; }
#header-top .header-info-cont #header-banner { flex-grow: 1; flex-shrink: 0; }
#header-top .header-info-cont #header-banner a { text-align: right; font-size: 30px; display: block; }

.shop-elements a { margin: auto 20px; }

footer#colophon.site-footer { background: #323944; height: 150px; }
footer#colophon.site-footer .main-container { display: flex; justify-content: center; align-items: center; height: 130px; }
footer#colophon.site-footer .main-container a h2 { font-size: 25px; color: white; line-height: 1.25em; }

section#pages .main-container { display: flex; flex-direction: row; align-items: flex-start; padding: 30px 0; }
section#pages .main-container article { width: 70%; margin: 0 15px 0 0; }
section#pages .main-container .sidebar-cont { width: 30%; }

/*--------------------------------------------------------------
# widgets
--------------------------------------------------------------*/
section#woocommerce_products-3 ul.product_list_widget li { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
section#woocommerce_products-3 ul.product_list_widget li .title-box { max-width: 60%; }
section#woocommerce_products-3 ul.product_list_widget li a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart { display: inline-block; }

/*--------------------------------------------------------------
# woostyles
--------------------------------------------------------------*/
.cat-header { height: 300px; width: 100%; background: #b4f6ff; }

section#shop-content .main-container { display: flex; justify-content: center; flex-direction: column; }
section#shop-content .main-container #woowrap { width: 100%; }
section#shop-content .main-container #woowrap .woo-list-cont { display: flex; justify-content: center; }
section#shop-content .main-container #woowrap .woo-list-cont ul.products { border: 1px dashed red; display: inline-flex; flex-wrap: wrap; flex-shrink: 1; flex-grow: 1; flex-basis: auto; justify-content: center; align-items: stretch; max-width: 722px; }
section#shop-content .main-container #woowrap .woo-list-cont ul.products li.product-cont { width: 220px; height: 220px; margin: 10px; padding: 10px; position: relative; box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07); }
section#shop-content .main-container #woowrap .woo-list-cont ul.products li.product-cont a.button.add_to_cart_button { position: absolute; bottom: 10px; width: 198px; }
section#shop-content .main-container #woowrap .woo-list-cont ul.products li.product-cont h3 { font-size: 15px; }
section#shop-content .main-container #woowrap .woo-list-cont ul.products li.product-cont p.date-cont { font-weight: bold; color: white; padding: 5px; background: #444444; border-radius: 3px; }
section#shop-content .main-container #woowrap .woo-list-cont ul.products:before, section#shop-content .main-container #woowrap .woo-list-cont ul.products:after { display: flex; }

.single-prod-content { width: 100%; border: 1px dashed red; }
.single-prod-content .prod-header { background: rgba(0, 255, 0, 0.21); }
.single-prod-content .prod-body { background: rgba(0, 0, 255, 0.21); }

a.dropdown-total { background: #9fa6b4; }

li#metabox-cont { border: 1px dashed blue; padding: 2px; }

form.cart { display: flex; flex-direction: row; }
form.cart div.quantity { width: 50px; display: inline-block; }
form.cart div.quantity input.input-text.qty.text { width: 50px; margin: 0px; }
form.cart button.button.alt { margin: 0px; }

.sidebar-cont { width: 30%; border-radius: 3px; margin-bottom: 1.5em; padding-top: 30px; }

section#teszt3 { padding: 30px auto; }
section#teszt3 .main-container { display: flex; flex-direction: column; }

.week-menu-cont { width: 100%; }
.week-menu-cont .week-datas { font-weight: 300; font-size: 30px; border-bottom: 1px solid #9fa6b4; margin-bottom: 20px; }
.week-menu-cont ul.products { list-style: none; margin: 0 0 50px 0; padding: 20px; display: flex; flex-direction: row; justify-content: stretch; }
.week-menu-cont ul.products li.day { flex-grow: 0; background: #f8f9fa; }
.week-menu-cont ul.products li.day .current-day { padding: 0 0 10px 0; background: #eaedf2; }
.week-menu-cont ul.products li.day .current-day h4 { font-weight: 300; font-size: 30px; padding-bottom: 0; margin: 0px; text-align: center; }
.week-menu-cont ul.products li.day li:nth-child(2) { background: white; }
.week-menu-cont ul.products li.day ul.daily_product_cont { list-style: none; margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: space-between; align-items: space-between; }
.week-menu-cont ul.products li.day ul.daily_product_cont li.product { padding: 10px; width: 175px; min-height: 220px; border-bottom: 1px solid #323944; flex-shrink: 0; flex-grow: 1; display: flex; flex-direction: column; align-items: space-between; justify-content: space-between; }
.week-menu-cont ul.products li.day ul.daily_product_cont li.product .food-name { border: 1px dashed lightgreen; flex-shrink: 0; flex-grow: 1; flex-basis: 1; }
.week-menu-cont ul.products li.day ul.daily_product_cont li.product .food-name p.kaja-category { display: block; font-size: 10px; text-transform: uppercase; color: #f01d4f; margin: 0 0 0 0; }
.week-menu-cont ul.products li.day ul.daily_product_cont li.product .food-name .prod-title h3 { font-size: 13px; }
.week-menu-cont ul.products li.day ul.daily_product_cont li.product:last-child { border-bottom: none; }

.order-panel { position: relative; }
.order-panel .cart-contbox { display: inline-block; height: 30px; border: 1px dashed #f01d4f; }
.order-panel .cart-contbox p { display: inline-block; }

.info-toggler-cont { display: inline-block; }
.info-toggler-cont a .info-toggler-button { background: #f01d4f; padding: 5px 15px; border-radius: 3px; }
.info-toggler-cont a .info-toggler-button p { font-size: 12px; font-weight: bold; line-height: 1.25em; color: white; margin: 0; padding: 0; }
.info-toggler-cont .callout { background: #f01d4f; position: absolute; bottom: 20px; left: -10px; border-radius: 5px; width: calc(100% + 20px); }
.info-toggler-cont .callout p { color: white; font-size: 12px; }

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/
ul.accordion#proba-accordion { width: 60%; }
ul.accordion#proba-accordion li a h6 { padding-right: 100px; }

#custom-filter { background: #rgb 228, 237, 245; border: 1px dashed red; padding: 20px; width: 100%; }
#custom-filter ul li.product-loop { border: 1px solid blue; }
