// ---------------------------------------
// main nav
// ---------------------------------------
nav#site-navigation.main-navigation{

}

.menu-menu-1-container{
   ul#primary-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // background: darkgray;
      background: #323944;
      max-width: 1100px;
      margin: auto;
      border-top: 1px solid $link-color;
      li{
         a{
            color: white;
            padding: 1em;
         }
      }
      li:hover{
         a{
            color: $link-color;
         }
      }
      li.current-menu-item{
         a{
            color: $link-color;
         }
      }
   }
}

// ---------------------------------------
// mobil nav
// ---------------------------------------
