// ---------------------------------------
// globals
// ---------------------------------------
body{
   background: #D8D8D8;
}

.bg-white{
   background: white;
}
.bg-light-blue{
   background: rgb(177, 255, 255);
}


.fullwidth{
   width: 100%;
}

.main-container{
   width: 100%;
   max-width: 960px;
   display: table;
   margin: 0 auto;
   padding: 0 20px;
}

.guide{
   // border: 1px dashed red;
}

.flex--row-sbw{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex--column{
   display: flex;
   flex-direction: column;;
}

.flex--align-center{
   align-items: center;
}

// ---------------------------------------
// header
// ---------------------------------------

#header-top{
   padding-top: 20px;
   .site-branding{
   }
   .header-info-cont{
      #header-contact{
         min-height: 45px;
         flex-grow: 1;
         flex-shrink: 0;
      }
      #header-banner{
         flex-grow: 1;
         flex-shrink: 0;
         a{
            text-align: right;
            font-size: 30px;
            display: block;
         }
      }
   }
}

.shop-elements{
   a{
      margin: auto 20px;
   }
}

// ---------------------------------------
// footer
// ---------------------------------------
footer#colophon.site-footer{
   height: 150px;
   .main-container{
      background:black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      a{
         h2{
            font-size: 25px;
            color: white;
            line-height: 1.25em;
         }
      }
   }
}
