// ---------------------------------------
// globals
// ---------------------------------------

#temp-widget-cont{
   position: fixed;
   right: 0px;
   top: 100px;
   z-index: 100;
   background: white;
   border: 1px solid $bones-pink;
   opacity: 0.8;
   padding: 10px;
   max-width: 230px;
   border-radius: 5px 0  0 5px;
   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.19);
   border-right: none;
}


body{
   background: #EAEDF2;
}

.bg-white{
   background: white;
}
.bg-light-blue{
   background: rgb(177, 255, 255);
}


.fullwidth{
   width: 100%;
   max-width: 1600px;
}

.main-container{
   width: 100%;
   max-width: 1100px;
   display: table;
   margin: 0 auto;
   padding: 0 20px;
}

.guide{
   // border: 1px dashed red;
}

.flex--row-sbw{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex--column{
   display: flex;
   flex-direction: column;;
}

.flex--align-center{
   align-items: center;
}

// ---------------------------------------
// header
// ---------------------------------------

header#masthead{
   background: #323944;
}

#header-top{
   background: #323944;

   padding-top: 20px;
   .site-branding{
   }
   .header-info-cont{
      #header-contact{
         min-height: 45px;
         flex-grow: 1;
         flex-shrink: 0;
      }
      #header-banner{
         flex-grow: 1;
         flex-shrink: 0;
         a{
            text-align: right;
            font-size: 30px;
            display: block;
         }
      }
   }
}

.shop-elements{
   a{
      margin: auto 20px;
   }
}

// ---------------------------------------
// footer
// ---------------------------------------
footer#colophon.site-footer{
   background: #323944;
   height: 150px;
   .main-container{
      // background:black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      a{
         h2{
            font-size: 25px;
            color: white;
            line-height: 1.25em;
         }
      }
   }
}


// ---------------------------------------
// index.php
// ---------------------------------------
section#pages{
   .main-container{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 30px 0;
      article{
         width: 70%;
         margin: 0 15px 0 0;
      }
      .sidebar-cont{
         width: 30%;
      }
   }
}
