// custom category header

.cat-header{
   height: 300px;
   width: 100%;
   background: rgb(180, 246, 255);
}


// product grid

section#shop-content{
   .main-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      #woowrap{
         // display: flex;
         // justify-content: space-between;
         // flex-direction: column;
         // margin: 0 auto;
         // display: table;
         width: 100%;
         .woo-list-cont{
            // background: rgba(255, 0, 0, 0.10);
            display: flex;
            justify-content: center;
            ul.products{
               border: 1px dashed red;
               display: inline-flex;
               flex-wrap: wrap;
               flex-shrink: 1;
               flex-grow: 1;
               flex-basis: auto;
               justify-content: center;
               align-items: stretch;
               max-width: 722px;
                  li.product-cont{
                     width: 220px;
                     height: 220px;
                     margin: 10px;
                     padding: 10px;
                     position: relative;
                     // background: #FFFFFF;
                     box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
                     a.button.add_to_cart_button{
                        position: absolute;
                        bottom: 10px;
                        width: 198px;
                     }
                     h3{
                        font-size: 15px;
                     }
                     p.date-cont{
                        font-weight: bold;
                        color: white;
                        padding: 5px;
                        background: rgb(68, 68, 68);
                        border-radius: 3px;
                     }
                  }
            }
            ul.products:before,
            ul.products:after{
               display: flex;
            }
         }
      }
   }
}

// single prod page
.single-prod-content{
   width: 100%;
   border: 1px dashed red;
   .prod-header{
      background: rgba(0, 255, 0, 0.21);
   }
   .prod-body{
      background: rgba(0, 0, 255, 0.21);

   }
}



li#metabox-cont{
   border: 1px dashed blue;
   padding: 2px;
}


section#teszt{
   .main-container{
      ul.products{
         border: 1px dashed red;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         max-width: 722px;
         width: 80%;
         list-style: none;
            li.product{
               min-width: 80%;
               margin: 10px;
               padding: 10px;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               border: 1px dashed rgba(92, 172, 255, 0.4);
               // background: #FFFFFF;
               box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
               a.button.add_to_cart_button{
               }
               h3{
                  font-size: 15px;
               }
               p.date-cont{
                  // font-weight: bold;
                  // color: white;
                  // padding: 5px;
                  // background: rgb(68, 68, 68);
                  // border-radius: 3px;
               }
               p{
                  color: black;
                  font-size: 15px;
               }
               #cart-box-small{
                  min-width: 185px;
                  form.cart{
                     div.quantity{
                        width: 50px;
                        display: inline-block;
                        input.input-text.qty.text{
                           width: 50px;
                           margin: 0px;
                        }
                     }
                     button.button.alt{
                        margin: 0px;
                     }
                  }
               }
               .title-cont{
                  max-width: 450px;
               }
            }
      }
      ul.products:before,
      ul.products:after{
         display: flex;
      }
   }
}



// teszt2

section#teszt{
   .main-container{
      ul.products{
         border: 1px dashed red;
         display: inline-flex;
         flex-wrap: wrap;
         flex-shrink: 1;
         flex-grow: 1;
         flex-basis: auto;
         justify-content: center;
         align-items: stretch;
         max-width: 722px;
         list-style: none;
         h3{
            font-size: 15px;
         }
      }
   }
}



// teszt4

.product_title.entry-title{
   font-size: 1em;
   font-weight: bold;
   text-align: left;
}

.summary.entry-summary{
   min-width: 100%;
}

section#teszt4{
   .main-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul.products{
         border: 1px dashed red;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         max-width: 722px;
         width: 70%;
         margin: 0 15px 0 0;
         list-style: none;
            li.product{
               min-width: 100%;
               margin: 10px;
               padding: 10px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: flex-start;
               border: 1px dashed rgba(92, 172, 255, 0.4);
               background: rgb(233, 233, 233);
               box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
               a.button.add_to_cart_button{
               }
               div{
                  .summary.entry-summary{
                     min-width: 100%;
                     width: 100%;
                     display: flex;
                  }
               }
               h3{
                  font-size: 15px;
               }
               p{
                  color: black;
                  font-size: 15px;
               }
               .title-cont{
                  max-width: 450px;
               }
            }
      }
      ul.products:before,
      ul.products:after{
         display: flex;
      }
      .sidebar-cont{
         width: 30%;
         background: rgb(220, 255, 209);
         border: 1px dashed green;
      }
   }
}



form.cart{
   display: flex;
   flex-direction: row;
   div.quantity{
      width: 50px;
      display: inline-block;
      input.input-text.qty.text{
         width: 50px;
         margin: 0px;
      }
   }
   button.button.alt{
      margin: 0px;
   }
}


// TESZT3

section#teszt3{
   .main-container{
      display: flex;
      flex-direction: row;
      padding: 30px auto;
      ul.products{
         width: 70%;
         margin: 0 15px 0 0;
         list-style: none;
         li.day{
            padding: 10px;
            background: rgba(0, 0, 0, 0.03);
            margin: 10px auto;
            ul.daily_product_cont{
               margin: 20px auto;
               list-style: none;
               padding: 10px 0;
               background: white;
               box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
               li.product{
                  background: white;
                  border: 1px solid #e7e7e7;
                  padding: 20px;
                  margin: 10px;
                  border-radius: 3px;
                  h3{
                     font-size: 15px;
                  }
               }
            }
         }
      }
      .sidebar-cont{
         width: 30%;
         border: 1px dashed green;
      }
   }
}
